body {
    background-color: green;
    font-family: sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin-top: 200px;
    
  }
  .joke-container {
    width: 450px;
    padding: 50px 20px; 
    background-color: aqua;
    border-radius: 5px;
  }
  .id{
    padding: 10px 20px; 
    margin: 0 5px; 
    font-size: 0.99rem;
    border-radius: 3px;
    outline: none;
    border: none;
    color: #fff;
    background-color: blue; 
  }
  h1 {
    font-size: 1.1rem;
    color: #888;
    margin-bottom: 20px;
  }

  .get joke{
    
    color: darkblue;
    cursor: pointer;
    background-color: gold;
  }
  .new-joke-btn {
    background-color:red;
  }
 
  .joke-text {
    font-size: 1.8rem;
    margin-bottom: 30px;
    font-family: monospace;
}