body{
    font-family: Arial,sans-serif;
    text-align: center;
    background-color:yellow;
    display: grid;
    place-content: center;
    position: relative;
    top: 200px;
}

.joke-container{
    width: 600px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #9a8d47;
    border-radius: 10px;
    box-shadow: purple;
}

h1{
    border-bottom: 1px solid gold;
    padding-bottom: 10px;
    color: crimson;
    font-family: cursive;

}

h1:hover{
    color: yellow;
}
button{
    padding: 10px 25px;
    background-color: yellow;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: purple;
}

button:hover{
    color:red;
    background-color: black;
}

#joke-display{
    margin-top: 20px;
    font-family: cursive;
}

.icons{
    font-size: 40px;
    color: crimson;
}

.icons:hover{
  
    color: gold;
}